footer{
margin:10px 0 ;
}

footer ul{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;  

    padding: 40px 0 28px;
}
footer ul li{
  
    margin-right: 50px;
}

footer .ul-name{
    font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-transform: uppercase;
	
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 16px;
}

footer .value{
    font-size: 18px;
	line-height: 30px;
	color: rgba(255, 255, 255, 0.75);
	margin-bottom: 16px;
	transition: .3s ease;
	position: relative;
	left: 0;
}
footer .value:hover {
    color: #fff;
    left: 6px;
}

.social-items-holder{
    padding: 5px;   
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.social-items-holder >*{
 margin: 10px;
} 
.social-items-holder a{
    transition: 0.3s ease;
color: white;
border-radius: 50px;
  padding: 8px;

}
.social-items-holder a:hover{
    
        background-color: #212d45;
        transform: scale(1.2);
        cursor: pointer;       
 
}
